@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");

.header-container {
  padding: 0 135px;
}
.main-container {
  padding: 0 135px;
}
.nav-container a {
  text-decoration: none;
  list-style: none;
  color: #424247;
  text-align: center;
  font-family: Mulish;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 44px;
}
.nav-container ul {
  display: flex;
  flex-direction: row;
}

.logo-container h1 {
  color: #131318;
  font-family: Mulish;
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-left: 17px;
}
.logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* explore travel section css */
#explore-travel {
  display: flex;
  align-items: center;
  justify-content: center;
}
.explore-travel-container {
  background-image: url("./Images/Group\ 13\ \(1\)\ \(1\).png");
  background-repeat: no-repeat;
  background-position: cover;
  width: 1170px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 16px;
}
.explore-travel-text-form-container {
  background: linear-gradient(
    180deg,
    rgba(19, 19, 24, 0.8) 0%,
    rgba(19, 19, 24, 0) 100%
  );
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
}
.explore-travel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.explore-travel-container h1 {
  color: #fff;
  font-family: Mulish;
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.explore-travel-container p {
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
.explore-travel-form input {
  width: 174px;
  height: 52px;
  border-radius: 8px;
  background: #fff;
  border: 0;
}
.explore-travel-form input {
  align-items: center;
  color: rgba(19, 19, 24, 0.5);
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 16px;
}
.explore-travel-form button {
  width: 174px;
  height: 52px;
  background: #ff5400;
  border-radius: 0;
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 700;
  border: 0;
  border-radius: 8px;
}
.explore-travel-container {
  display: flex;
  flex-direction: column;
}
.explore-travel-form {
  background: rgba(255, 255, 255, 0.3);
  background-size: cover;
  display: inline-flex;
  padding: 16px;
  align-items: flex-start;
  gap: 24px;
  border-radius: 8px;
}
