@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.header-sub-container {
  width: 1170px;
  /* padding: 0 135px; */
  margin-top: 52px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav-container a {
  text-decoration: none;
  list-style: none;
  color: #424247;
  text-align: center;
  font-family: Mulish;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 44px;
}
.nav-container ul {
  display: flex;
  flex-direction: row;
}
.hamburger-menu {
  display: none;
}
.logo-container h1 {
  color: #131318;
  font-family: Mulish;
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-left: 17px;
}
.logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* explore travel section css */
.main-container {
  padding: 0 135px;
}
#explore-travel {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.explore-travel-container {
  background-image: url("./Images/Group\ 13\ \(1\)\ \(1\).png");
  background-repeat: no-repeat;
  background-position: cover;
  width: 1170px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 16px;
}
.explore-travel-text-form-container {
  background: linear-gradient(
    180deg,
    rgba(19, 19, 24, 0.8) 0%,
    rgba(19, 19, 24, 0) 100%
  );
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
}
.explore-travel-container h1 {
  color: #fff;
  font-family: Mulish;
  font-size: 64px;
  font-weight: 800;
  margin: 24px auto;
}
.explore-travel-container p {
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  margin-bottom: 48px;
}
.explore-travel-form input {
  width: 174px;
  height: 52px;
  border-radius: 8px;
  background: #fff;
  border: 0;
}
.explore-travel-form input {
  align-items: center;
  color: rgba(19, 19, 24, 0.5);
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 16px;
}
.explore-travel-form button {
  width: 174px;
  height: 52px;
  background: #ff5400;
  border-radius: 0;
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 700;
  border: 0;
  border-radius: 8px;
}
.explore-travel-container {
  display: flex;
  flex-direction: column;
}
.explore-travel-form {
  background: rgba(255, 255, 255, 0.3);
  background-size: cover;
  display: inline-flex;
  padding: 16px;
  align-items: flex-start;
  gap: 24px;
  border-radius: 8px;
}
.explore-travel-form .inputone {
  margin-right: 24px;
}
.explore-travel-form .inputtwo {
  margin-right: 24px;
}
.explore-travel-form .inputthree {
  margin-right: 24px;
}
.explore-text p {
  width: 676px;
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}

/* popular-tour section css */
#popular-tour {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}
.popular-tour-container {
  display: flex;
  flex-direction: row;
  gap: 53px;
}

.popular-tour-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 577px;
}
.popular-tour-text h1 {
  color: #131318;
  text-align: center;
  font-family: Mulish;
  font-size: 40px;
  font-weight: 800;
  margin-top: 0px;
  margin-bottom: 0px;
}
.popular-tour-text p,
li {
  color: rgba(19, 19, 24, 0.7);
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.popular-tour-text li {
  margin-bottom: 16px;
}
.popular-tour-text p {
  /* 162.5% */
  margin-top: 24px; /* 162.5% */
  margin-bottom: 24px; /* 162.5% */
}
#popular-paragraph {
  margin-top: 8px;
  margin-bottom: 32px;
}
.popular-tour-text button {
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  width: 174px;
  height: 52px;
  border-radius: 8px;
  background: #ff5400;
  border: 0;
}

/* choose-destination section css */
.choose-destination-container-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}
.choose-destination-container-text h1 {
  color: #131318;
  text-align: center;
  font-family: Mulish;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-top: 0px;
  margin-bottom: 24px;
}
.choose-destination-container-text p {
  width: 643px;
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  margin-top: 0px;
  margin-bottom: 48px;
}
.destination-image {
  width: 100%;
  height: 300px;
  position: relative;
  display: inline-block;
}
.destination-image h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.destination-image h1 {
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-top: 0px;
}
.image-container-1,
.image-container-2,
.image-container-3 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.choose-destination-container-images {
  width: 1170px;
}
.choose-destination-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image-container-2 {
  margin: 24px auto;
}

/* why choose text section css */
.why-choose-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.why-choose-text-container h1 {
  color: #131318;
  text-align: center;
  font-family: Mulish;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-top: 100px;
  margin-bottom: 24px;
}
.why-choose-text-container p {
  width: 643px;
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-top: 0px;
}

/* why choose content section css */
.why-choose-content-container {
  margin-top: 50px;
}
.why-choose-content-container-firstrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.why-choose-content-container-secondrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}
.why-choose-content-container h1 {
  color: #131318;
  font-family: Mulish;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.why-choose-content-container p {
  color: #5a5a5d;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
.choose-container-one,
.choose-container-two,
.choose-container-three {
  width: 573px;
  height: 284px;
  flex-shrink: 0;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 32px;
}
.choose-container-one {
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
}
.choose-container-two {
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
}
.choose-container-three {
  border: 1px solid rgba(233, 68, 68, 0.2);
  background: rgba(233, 68, 68, 0.05);
}

/* perfect place section css */
.perfetct-place-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 100px;
}
.perfetct-place-container-text {
  width: 532px;
}
.perfetct-place-container-text h1 {
  color: #131318;
  font-family: Mulish;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: 60px; /* 150% */
  margin-top: 0px;
  margin-bottom: 24px;
}
.perfetct-place-container-text p {
  color: #5a5a5d;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  margin-bottom: 24px;
}
.perfetct-place-container-text li {
  color: #131318;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 162.5% */
  margin-bottom: 16px;
}
.perfetct-place-container-text button {
  border-radius: 8px;
  background: #ff5400;
  width: 174px;
  height: 52px;
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  border: 0;
  margin-top: 16px;
}
.perfetct-place-container-image {
  background-image: url(./Images/Group\ 40089.png);
  width: 610px;
  height: 424px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.perfetct-place-container-image h2 {
  background: linear-gradient(
    180deg,
    #131318 -31.96%,
    rgba(19, 19, 24, 0) 100%
  );
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  margin: 0 auto;
  border-radius: 16px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* newsletter section css */
.newsletter-container {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.newsletter-form {
  width: 474px;
  height: 422px;
  flex-shrink: 0;
  border-radius: 16px;
  border: 1px solid #ff5400;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 40px;
}
.newsletter-form h1 {
  color: #131318;
  font-family: Mulish;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 16px;
}
.newsletter-form p {
  color: #5a5a5d;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  width: 350px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.newsletter-form hr {
  width: 393px;
  height: 0px;
  background: rgba(19, 19, 24, 0.1);
  margin-top: 24px;
  margin-bottom: 24px;
  /* margin-left: 0px; */
}
.newsletter-form input {
  width: 393px;
  height: 52px;
  flex-shrink: 0;
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
  color: rgba(19, 19, 24, 0.3);
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: 0;
  padding-left: 20px;
  margin-bottom: 16px;
}
.newsletter-form button {
  width: 415px;
  height: 52px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #ff5400;
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  border: 0px;
  margin-top: 8px;
}

.newsletter-image-discount {
  width: 324px;
  height: 120px;
  transform: rotate(-19.628deg);
  flex-shrink: 0;
  border-radius: 16px;
  background: #ff5400;
}

.newsletter-image-discount p {
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0px;
}
.newsletter-image-discount h1 {
  color: #fff;
  font-family: Mulish;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-align: center;
  margin-top: 0px;
}

.newsletter-image {
  background-image: url("./Images/Rectangle\ 8\ \(1\).png");
  background-repeat: no-repeat;
  background-position: cover;
  width: 672px;
  height: 422px;
  border-radius: 16px;
  position: relative;
}
.newsletter-image-discount {
  position: absolute;
  bottom: 50px;
  right: 10px;
}

/* footer container css */
.footer-container {
  margin-top: 100px;
  width: 100%;
  height: 502px;
  flex-shrink: 0;
  background: rgba(19, 19, 24, 0.05);
}

.footer-logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 110px;
}
.footer-logo-container h1 {
  margin-left: 16px;
}
.footer-logo-container img {
  width: 50px;
  height: 45px;
}
.footer-text-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.footer-text-container p {
  width: 769px;
  color: #5a5a5d;
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  margin-top: 0px;
  margin-bottom: 33px;
}
.footer-icon-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
/* .footer-container hr {
  width: 872px;
  height: 0px;
  background: rgba(15, 12, 12, 0.1);
  margin-top: 50px;
  margin-bottom: 50px;
} */
.footer-icon-container {
  width: 90%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.137);
  padding-bottom: 24px;
}
.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer-copyright {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 24px;
}
/* customer review css */
#customer-review {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}
.customer-review-container {
  width: 1170px;
}
.customer-review-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.customer-review-content {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.customer-review-text h1 {
  color: #1e1e1e;
  font-family: Inter;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 128.023%; /* 61.451px */
}
.customer-review-text p {
  color: #575757;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 175.023%; /* 35.005px */
}
.customer-review-content h1 {
  color: #1e1e1e;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 128.023%; /* 30.725px */
}
.customer-review-content p {
  color: #575757;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 181.023%; /* 36.205px */
}
.customer-review-content div {
  border: 1px solid #ff5400;
  padding: 2rem;
  border-radius: 10px;
}
.customer2 {
  background-color: #ff5400;
}
.customer2 h1,
.customer2 p {
  color: #fff;
}
.logo-container img {
  width: 60px;
}
/* small device (mobile) responsive css */
@media screen and (max-width: 600px) {
  .nav-container ul {
    display: none;
  }
  .logo-container img {
    width: 50px;
  }
  .logo-container h1,
  span {
    font-size: 30px;
  }
  .hamburger-menu {
    display: block;
    padding: 0 20px;
    font-size: 27px;
  }
  /* main */
  .main-container {
    padding: 0 20px;
  }
  .explore-travel-container {
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: center;
  }
  .explore-travel-container h1 {
    color: #fff;
    font-family: Mulish;
    font-size: 28px;
    font-weight: 800;
  }
  .explore-travel-container p {
    width: 304px;
    color: #fff;
    text-align: center;
    font-family: Mulish;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px; /* 150% */
  }
  .popular-tour-container,
  .perfetct-place-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .popular-tour-text {
    width: 100%;
  }

  .explore-travel-form form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .explore-travel-form input {
    width: 255px;
    height: 52px;
    border-radius: 8px;
    background: #fff;
  }
  .explore-travel-form button {
    border-radius: 8px;
    background: #ff5400;
    width: 275px;
    height: 52px;
  }
  .popular-tour-text h1 {
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }
  .popular-tour-text p,
  li {
    color: rgba(19, 19, 24, 0.7);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
  }
  .popular-tour-image img {
    width: 100%;
    background-size: cover;
    background-position: center;
  }
  .choose-destination-container-text h1 {
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }
  .choose-destination-container-text p {
    width: 309px;
    color: rgba(19, 19, 24, 0.7);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
  }
  .choose-destination-container-images,
  .image-container-1,
  .image-container-2,
  .image-container-3 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .why-choose-text-container h1 {
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }
  .why-choose-text-container p {
    width: 309px;
    color: rgba(19, 19, 24, 0.7);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
  }
  .why-choose-content-container div {
    width: 100%;
    padding-left: 0px;
  }
  .why-choose-content-container div p {
    /* width: 100%; */
    padding: 1rem;

    margin-top: 0px;
    margin-bottom: 0px;
  }
  .why-choose-content-container h1,
  .why-choose-content-container img {
    padding-left: 1rem;
    margin-top: 0px;
    margin-bottom: 12px;
  }
  .why-choose-content-container-firstrow {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .choose-destination-container-images {
    display: flex;
    flex-direction: column;
  }
  .image-container-1,
  .image-container-2,
  .image-container-3 {
    display: flex;
    flex-direction: column;
    /* padding: 20px; */
  }
  .choose-destination-container-images img {
    width: 100%;
    object-fit: cover;
  }
  .choose-destination-container-images {
    width: 100%;
  }
  .destination-image {
    height: auto;
  }
  .ici3,
  .ici5,
  .ici6,
  .ici7 {
    height: 220px;
    border-radius: 16px;
  }
  .perfetct-place-container-text {
    width: 100%;
  }
  .perfetct-place-container-image {
    width: 100%;
    height: 300px;
  }
  .newsletter-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .newsletter-form,
  .newsletter-image {
    width: 100%;
    padding-left: 10px;
  }
  .newsletter-form input {
    width: 80%;
  }

  .newsletter-form button {
    width: 85%;
  }
  .newsletter-form hr {
    width: 80%;
  }
  .newsletter-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .newsletter-form h1 {
    width: 100%;
    text-align: left;
    padding-left: 3rem;
  }
  .footer-text-container p {
    width: 70%;
  }
  .customer-review-content {
    display: flex;
    flex-direction: column;
  }
  .customer-review-container {
    width: 100%;
  }
}
